body{
  background-color: #e6dace;
}

.main {
  width: 100vw;
  background-color: #e6dace;
  padding-bottom: 40px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

#bleu {
  background-color: #116dff;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  margin-right: 20px;
}

.title h1 {
  font-weight: bolder
}

.presentation {
  text-align: center;
  padding: 20px;
  line-height: 1.6;
  font-size: 18px;
  font-family: Arial, sans-serif;
  margin-top: -10px;
}

.projet {
  background-color: #f9fafa;
  width: 90vw;
  height: min-content;
  margin-left: 10vw;
  padding-top: 10px;
}

.projet h2 {
  color: #0050ff;
  margin-left: 10vw;
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 5px;
}

.projet h3 {
  margin-left: 10vw;
  font-size: 16px;
  font-weight: normal;
  margin-top: 2px;
}

.projet img {
  width: 100%;
  margin-bottom: -4px;
}

.projet p {
  margin-left: 10vw;
  font-size: 16px; 
  font-family: Arial, sans-serif; 
  color: #222; 
  line-height: 1.6; 
}

.decoration{
  background-color: #0050ff;
  width: 10px;
  height: 50px;
  position: absolute;
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .projet {
    display: flex;
    justify-content: space-between;
    width: 70vw;
    height: 40vh;
    padding-top: 20px;
    margin-left: 15vw;
    margin-bottom: 40px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }

  .projet h2 {
    margin-left: 2vw;
  }

  .projet h3 {
    margin-left: 2vw;
  }

  .projet p {
    margin-left: 2vw;
  }

  .projet img {
    margin-bottom: 0;
  }

  .screen{
    max-width: 50%;

  }

}

